<div class="container well-lg">
  <h2>Your Lineups</h2>
  <ul class="list-group">
  <% @user.lineups.each do |lineup| %>
    <a href="/lineups/<%= lineup.id %>" class="list-group-item modal-sm">
    <%= lineup.name %>
    <br>
    <%= lineup.quarterback %>
    <%= lineup.runningback_one %>
    <%= lineup.runningback_two %>
    <%= lineup.widereceiver_one %>
    <%= lineup.widereceiver_two %>
    <%= lineup.widereceiver_three %>
    <%= lineup.tightend %>
    <%= lineup.flex %>
    <%= lineup.defense %>
    </a>
    <br>
  <% end %>
  </ul>
</div>
