<div class="container">
  <h2>Edit Lineup</h2>

  <form action="/lineups/<%= @lineup.id %>" method="POST">

    <div class="form-group">
      <label>Lineup Name:</label>
      <input type="text" class="form-control" name="name" id="name" value="<%= @lineup.name %>">
    </div>

    <div class="form-group">
      <label>Quarterback:</label>
      <input type="text" class="form-control" name="quarterback" id="quarterback" value="<%= @lineup.quarterback %>">
    </div>

    <div class="form-group">
      <label>First Running Back:</label>
      <input type="text" class="form-control" name="runningback_one" id="runningback_one" value="<%= @lineup.runningback_one %>">
    </div>

    <div class="form-group">
      <label>Second Running Back:</label>
      <input type="text" class="form-control" name="runningback_two" id="runningback_two" value="<%= @lineup.runningback_two %>">
    </div>

    <div class="form-group">
      <label>First Wide Receiver:</label>
      <input type="text" class="form-control" name="widereceiver_one" id="widereceiver_one" value="<%= @lineup.widereceiver_one %>">
    </div>

    <div class="form-group">
      <label>Second Wide Receiver:</label>
      <input type="text" class="form-control" name="widereceiver_two" id="widereceiver_two" value="<%= @lineup.widereceiver_two %>">
    </div>

    <div class="form-group">
      <label>Third Wide Receiver:</label>
      <input type="text" class="form-control" name="widereceiver_three" id="widereceiver_three" value="<%= @lineup.widereceiver_three %>">
    </div>

    <div class="form-group">
      <label>Tightend:</label>
      <input type="text" class="form-control" name="tightend" id="tightend" value="<%= @lineup.tightend %>">
    </div>

    <div class="form-group">
      <label>Flex:</label>
      <input type="text" class="form-control" name="flex" id="flex" value="<%= @lineup.flex %>">
    </div>

    <div class="form-group">
      <label>Defense:</label>
      <input type="text" class="form-control" name="defense" id="defense" value="<%= @lineup.defense %>">
    </div>

    <input class="btn btn-primary" type="submit" value="Update">
  </form>
</div>
