<div class="container">
  <h1>All Lineups:</h1>

  <% @lineups.each do |lineup| %>
    <%= lineup.name %>
    <%= lineup.quarterback %>
    <%= lineup.runningback_one %>
    <%= lineup.runningback_two %>
    <%= lineup.widereceiver_one %>
    <%= lineup.widereceiver_two %>
    <%= lineup.widereceiver_three %>
    <%= lineup.tightend %>
    <%= lineup.flex %>
    <%= lineup.defense %>

    <% if lineup.user_id == current_user.id %>
      <h4>You own this lineup</h4>
    <% end %>
    <a href="/lineups/<%= lineup.id %>">View Lineup</a>
    <br></br>

  <% end %>

</div>
