<div class="container well-lg">
  <h2>All Lineups:</h2>
  <ul>
    <% @lineups.each do |lineup| %>
      <li>
      <%= lineup.name %>
      <br>
      <%= lineup.quarterback %>
      <%= lineup.runningback_one %>
      <%= lineup.runningback_two %>
      <%= lineup.widereceiver_one %>
      <%= lineup.widereceiver_two %>
      <%= lineup.widereceiver_three %>
      <%= lineup.tightend %>
      <%= lineup.flex %>
      <%= lineup.defense %>
      <br>
      <a href="/lineups/<%= lineup.id %>">View Lineup</a>
      <br>

      <% if lineup.user_id == current_user.id %>
        <p><strong>You own this lineup</strong></p>
      <% end %>

    </li>
    <br>
    <% end %>
  </ul>
</div>
