<h1>See your lineups below:</h1>

<% @lineups.each do |lineup| %>
  <%= lineup.name %>
  <%= lineup.quarterback %>
  <%= lineup.runningback_one %>
  <%= lineup.runningback_two %>
  <%= lineup.widereceiver_one %>
  <%= lineup.widereceiver_two %>
  <%= lineup.widereceiver_three %>
  <%= lineup.tightend %>
  <%= lineup.flex %>
  <%= lineup.defense %>

  <br></br>
  <a href="/lineups/<%= lineup.id %>">View/Edit/Delete Lineup</a>
  <br></br>

<% end %>

<br></br>
<a href="/lineups/new">Create a new Lineup</a>

<br></br>
<a href="/logout">Logout</a>
