<div class="container">
  <h2>Lineup Name: <%= @lineup.name %></h2>
  <h2>Quarterback: <%= @lineup.quarterback %></h2>
  <h2>Running Back One: <%= @lineup.runningback_one %></h2>
  <h2>Running Back Two: <%= @lineup.runningback_two %></h2>
  <h2>Wide Receiver One: <%= @lineup.widereceiver_one %></h2>
  <h2>Wide Receiver Two: <%= @lineup.widereceiver_two %></h2>
  <h2>Wide Receiver Three: <%= @lineup.widereceiver_three %></h2>
  <h2>Tightend: <%= @lineup.tightend %></h2>
  <h2>Flex: <%= @lineup.flex %></h2>
  <h2>Defense: <%= @lineup.defense %></h2>
    <br></br>

  <% if @lineup.user_id == current_user.id %>
  <a href="/lineups/<%= @lineup.id %>/edit"> Edit Lineup </a>
    <br></br>

  <form action="/lineups/<%= @lineup.id %>/delete" method="post">
    <input id="hidden" type="hidden" name="_method" value="delete">
    <input type="submit" value="Delete Lineup">
  </form>
  <% else %>
  <a href="/lineups"> Back to All Lineups</a>
  <% end %>
</div>
